%%% -*- mode: erlang -*-

%% Compiler Options ============================================================
{erl_opts,
 [warnings_as_errors,
  debug_info]}.

%% Dependencies ================================================================
{deps, [
       {jesse, "", {git, "git://github.com/klarna/jesse.git", "master"}}
       ,{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
       ,{pgsql, "", {git, "git://github.com/semiocast/pgsql.git", "master"}}
       ,{lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{poolboy, "", {git, "git://github.com/devinus/poolboy.git", "2a035135dc3e1e2aeb0f69365171fc9e9a2e82df"}}
       ,{rebar_vsn_plugin, "", {git, "git://github.com/erlware/rebar_vsn_plugin.git", "master"}}
       ,{rebar_relcool_plugin, "", {git, "git://github.com/erlware/rebar_relcool_plugin.git", "next"}}
       ]}.

%% Rebar Plugins ==============================================================
%% {plugins, [rebar_relcool_plugin,
%%            rebar_vsn_plugin]}.
